.settingsPane {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  max-width: 525px;
}

.infoButton {
  font-size: 1rem;
  color: white;
  margin-bottom: 0.5rem;
}

.infoList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.infoColorList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.infoColor {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.infoColorSpan {
  display: block;
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid var(--border-color);
}
