.keyboardContainer {
  position: relative;
}

.keyboardRow {
  display: flex;
  gap: 3px;
  margin: 3px 0;
}

.key {
  --key-size: unset;
  --big-key-size: 4rem;

  position: relative;
  padding: 0.5rem;
  border: 1px solid var(--main-light-green);
  border-radius: 0.25rem;
  color: white;
  font-size: 1rem;
  flex: 1;
  min-width: fit-content;
  height: var(--key-size);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
  transition-delay: 0.8s;
}

@media (min-width: 768px) {
  .keyboardRow {
    gap: 5px;
    margin: 5px 0;
  }

  .key {
    --key-size: 3rem;
    --big-key-size: 6rem;
    flex: unset;
  }

  .keyboardRow:nth-child(2) {
    transform: translateX(1rem);
  }
}
